/* 每三个月轮换以下的主题色或按照喜好轮换、更换主题色 */
/* 注：以下四种主题色，为原始主题色。可根据自己的喜好，替换该主题色即可 */


/* 主题色一 */


body {
	display: block;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

#staring-container {
	display: flex;
	width: 556px;
	margin: 0px auto;
	top: 0px;
	left: 0px;
	z-index: 1;
	position: relative; 
}

#staring-header {
	font-family: "Microsoft YaHei", sans-serif;
	width: 556px;
	height: 50px;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: #d6dadc;
	border: 1px solid #887650;
}
			
.staring-header-page-btn {
	font-family: "Microsoft YaHei", sans-serif;
	width: 556px;
	height: 50px;
	background: #154146;
	border: none;
	text-align: center;
	align-items: center;
	cursor: pointer;
	font-size: 16px;
	color: #d6dadc;
}

#staring-moddle-container {
	display: flex;
	width: 556px;
	margin: 0px auto;
	top: 0px;
	left: 0px;
	margin-top: 8px;
}

#staring-moddle-left {
	font-family: "Microsoft YaHei", sans-serif;
	width: 200px;
	height: 500px;
	background: #154146;
	border: none;
	text-align: center;
	align-items: center;
	cursor: pointer;
	font-size: 16px;
	color: #d6dadc;
	border: 1px solid #887650;
}
			
#staring-moddle-img-left {
	margin: 10px auto;
}
			
.somesomebaicai-img-left {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 1px solid #887650;
}
			
#staring-moddle-indexName-left {
	width: 200px;
	height: 40px;
	background: #d6dadc;
}
			
.staring-moddle-indexName-left-page-btn {
	font-family: "Microsoft YaHei", sans-serif;
	width: 200px;
	height: 40px;
	background: #d6dadc;
	border: none;
	text-align: left;
	align-items: center;
	cursor: pointer;
	font-size: 14.5px;
	color: #154146;
}
			
.staring-moddle-indexName-left-page-btn:hover {
	font-family: "Microsoft YaHei", sans-serif;
	width: 200px;
	height: 40px;
	background: #154146;
	text-align: left;
	align-items: center;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	color: #d6dadc;
	border: 2px solid #d6dadc;
	border-left: none;
	border-right: none;
}

#staring-moddle-indexName-left-notice {
	font-family: "Microsoft YaHei", sans-serif;
	width: 200px;
}

.staring-moddle-indexName-left-notice-btn {
	font-family: "Microsoft YaHei", sans-serif;
	width: 200px;
	height: 40px; 
	background: #d6dadc;
	border: none;
	text-align: center;
	align-items: center;
	cursor: pointer;
	font-size: 14.5px;
	color: #154146;
}

.staring-moddle-indexName-left-notice-btns {
	border: 3px double #154146;
	background: #d6dadc;
	color: #154146;
	font-size: 12.5px;
}

#staring-moddle-right {
	width: 336px;
	height: 500px;
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: #154146;
	color: #d6dadc;
	border: 1px solid #887650;
	margin-left: auto;
	margin-bottom: auto;
}

#staring-moddle-indexName-right-index {
	width: 336px;
	height: 50px;
	background: #d6dadc;
}

.staring-moddle-indexName-right-index-page-btn {
	font-family: "Microsoft YaHei", sans-serif;
	width: 336px;
	height: 50px;
	background: #d6dadc;
	border: none;
	text-align: center;
	align-items: center;
	cursor: pointer;
	font-size: 14.5px;
	color: #154146;
}

.search {
	width: 336px;
	height: 35px;
	outline: none;
	padding: 1px 6px;
	background: #d6dadc;
	border: none;
	font-size: 14.5px;
	color: #154146;
}

.search::placeholder {
	color: #154146;
}

#moddle {
	width: 336px;
	height: 318.5px;
	overflow-y: auto;
	padding: 0px;
	cursor: pointer;
	user-select: none;
	scrollbar-width: none;
	-ms-overflow-style: none;
	scroll-behavior: smooth;
	border-top: none;
	font-size: smaller;
}

#moddle::-webkit-scrollbar {
	display: none;
}

.staring-moddle-indexName-right-page-btn {
	font-family: "Microsoft YaHei", sans-serif;
	width: 336px;
	height: 310px;
	background: #d6dadc;
	border: none;
	text-align: left;
	align-items: center;
	cursor: pointer;
	font-size: 12.5px;
	color: #154146;
	margin-top: 18px;
}

.staring-moddle-indexName-right-page-btn:hover {
	font-family: "Microsoft YaHei", sans-serif;
	width: 336px;
	height: 310px;
	background: #154146;
	text-align: left;
	align-items: center;
	cursor: pointer;
	font-size: 12.5px;
	font-weight: bold;
	color: #d6dadc;
	border: 2px solid #d6dadc;
	border-left: none;
	border-right: none;
}

#staring-moddle-indexName-footer {
	width: 336px;
	height: 50px;
	background: #d6dadc;
	margin-top: 12.5px;
}

.staring-moddle-indexName-footer-page-btn {
	font-family: "Microsoft YaHei", sans-serif;
	width: 336px;
	height: 50px;
	background: #d6dadc;
	border: none;
	text-align: center;
	align-items: center;
	cursor: pointer;
	font-size: 14.5px;
	color: #154146;
}

.page_on:hover {
	color: #887650;
	font-weight: bold;
}

.page_un:hover {
	color: #887650;
	font-weight: bold;
}

.staring-line {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0px;
    height: 100%;
    background-color: #507e8800;
    background-image: repeating-linear-gradient(
	0deg, 
	rgb(0 0 0 / 0%) 0px,
	rgb(0 0 0 / 10%) 1px, 
	transparent 1px, 
	#00000000 20px), 
	repeating-linear-gradient(
	90deg, #d6dadc00 0px, 
	#d6dadc 1px, 
	#d6dadc00 1px, 
	transparent 20px);
	z-index: -2;
}
									
#staring-particles-js {
	z-index: -2;
	position: fixed; 
	top: 0;
	height: 100%;
	width: 100%;
}


/* 主题色二 */


/* body {
	display: block;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

#staring-container {
	display: flex;
	width: 556px;
	margin: 0px auto;
	top: 0px;
	left: 0px;
	z-index: 1;
	position: relative; 
}

#staring-header {
	font-family: "Microsoft YaHei", sans-serif;
	width: 556px;
	height: 50px;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: #d6d4d3;
	border: 1px solid #887650;
}
			
.staring-header-page-btn {
	font-family: "Microsoft YaHei", sans-serif;
	width: 556px;
	height: 50px;
	background: #415464;
	border: none;
	text-align: center;
	align-items: center;
	cursor: pointer;
	font-size: 16px;
	color: #d6d4d3;
}

#staring-moddle-container {
	display: flex;
	width: 556px;
	margin: 0px auto;
	top: 0px;
	left: 0px;
	margin-top: 8px;
}

#staring-moddle-left {
	font-family: "Microsoft YaHei", sans-serif;
	width: 200px;
	height: 500px;
	background: #415464;
	border: none;
	text-align: center;
	align-items: center;
	cursor: pointer;
	font-size: 16px;
	color: #d6d4d3;
	border: 1px solid #887650;
}
			
#staring-moddle-img-left {
	margin: 10px auto;
}
			
.somesomebaicai-img-left {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 1px solid #887650;
}
			
#staring-moddle-indexName-left {
	width: 200px;
	height: 40px;
	background: #d6d4d3;
}
			
.staring-moddle-indexName-left-page-btn {
	font-family: "Microsoft YaHei", sans-serif;
	width: 200px;
	height: 40px;
	background: #d6d4d3;
	border: none;
	text-align: left;
	align-items: center;
	cursor: pointer;
	font-size: 14.5px;
	color: #415464;
}
			
.staring-moddle-indexName-left-page-btn:hover {
	font-family: "Microsoft YaHei", sans-serif;
	width: 200px;
	height: 40px;
	background: #415464;
	text-align: left;
	align-items: center;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	color: #d6d4d3;
	border: 2px solid #d6d4d3;
	border-left: none;
	border-right: none;
}

#staring-moddle-indexName-left-notice {
	font-family: "Microsoft YaHei", sans-serif;
	width: 200px;
}

.staring-moddle-indexName-left-notice-btn {
	font-family: "Microsoft YaHei", sans-serif;
	width: 200px;
	height: 40px; 
	background: #d6d4d3;
	border: none;
	text-align: center;
	align-items: center;
	cursor: pointer;
	font-size: 14.5px;
	color: #415464;
}

.staring-moddle-indexName-left-notice-btns {
	border: 3px double #415464;
	background: #d6d4d3;
	color: #415464;
	font-size: 12.5px;
}

#staring-moddle-right {
	width: 336px;
	height: 500px;
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: #415464;
	color: #d6d4d3;
	border: 1px solid #887650;
	margin-left: auto;
	margin-bottom: auto;
}

#staring-moddle-indexName-right-index {
	width: 336px;
	height: 50px;
	background: #d6d4d3;
}

.staring-moddle-indexName-right-index-page-btn {
	font-family: "Microsoft YaHei", sans-serif;
	width: 336px;
	height: 50px;
	background: #d6d4d3;
	border: none;
	text-align: center;
	align-items: center;
	cursor: pointer;
	font-size: 14.5px;
	color: #415464;
}

.search {
	width: 336px;
	height: 35px;
	outline: none;
	padding: 1px 6px;
	background: #d6d4d3;
	border: none;
	font-size: 14.5px;
	color: #415464;
}

.search::placeholder {
	color: #415464;
}

#moddle {
	width: 336px;
	height: 318.5px;
	overflow-y: auto;
	padding: 0px;
	cursor: pointer;
	user-select: none;
	scrollbar-width: none;
	-ms-overflow-style: none;
	scroll-behavior: smooth;
	border-top: none;
	font-size: smaller;
}

#moddle::-webkit-scrollbar {
	display: none;
}

.staring-moddle-indexName-right-page-btn {
	font-family: "Microsoft YaHei", sans-serif;
	width: 336px;
	height: 310px;
	background: #d6d4d3;
	border: none;
	text-align: left;
	align-items: center;
	cursor: pointer;
	font-size: 12.5px;
	color: #415464;
	margin-top: 18px;
}

.staring-moddle-indexName-right-page-btn:hover {
	font-family: "Microsoft YaHei", sans-serif;
	width: 336px;
	height: 310px;
	background: #415464;
	text-align: left;
	align-items: center;
	cursor: pointer;
	font-size: 12.5px;
	font-weight: bold;
	color: #d6d4d3;
	border: 2px solid #d6d4d3;
	border-left: none;
	border-right: none;
}

#staring-moddle-indexName-footer {
	width: 336px;
	height: 50px;
	background: #d6d4d3;
	margin-top: 12.5px;
}

.staring-moddle-indexName-footer-page-btn {
	font-family: "Microsoft YaHei", sans-serif;
	width: 336px;
	height: 50px;
	background: #d6d4d3;
	border: none;
	text-align: center;
	align-items: center;
	cursor: pointer;
	font-size: 14.5px;
	color: #415464;
}

.page_on:hover {
	color: #887650;
	font-weight: bold;
}

.page_un:hover {
	color: #887650;
	font-weight: bold;
}

.staring-line {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0px;
    height: 100%;
    background-color: #507e8800;
    background-image: repeating-linear-gradient(
	0deg, 
	rgb(0 0 0 / 0%) 0px,
	rgb(0 0 0 / 10%) 1px, 
	transparent 1px, 
	#00000000 20px), 
	repeating-linear-gradient(
	90deg, #d6dadc00 0px, 
	#d6dadc 1px, 
	#d6dadc00 1px, 
	transparent 20px);
	z-index: -2;
}
									
#staring-particles-js {
	z-index: -2;
	position: fixed; 
	top: 0;
	height: 100%;
	width: 100%;
} */


/* 主题色三 */


/* body {
	display: block;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

#staring-container {
	display: flex;
	width: 556px;
	margin: 0px auto;
	top: 0px;
	left: 0px;
	z-index: 1;
	position: relative; 
}

#staring-header {
	font-family: "Microsoft YaHei", sans-serif;
	width: 556px;
	height: 50px;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: #d6dcd6;
	border: 1px solid #887650;
}
			
.staring-header-page-btn {
	font-family: "Microsoft YaHei", sans-serif;
	width: 556px;
	height: 50px;
	background: #605f77;
	border: none;
	text-align: center;
	align-items: center;
	cursor: pointer;
	font-size: 16px;
	color: #d6dcd6;
}

#staring-moddle-container {
	display: flex;
	width: 556px;
	margin: 0px auto;
	top: 0px;
	left: 0px;
	margin-top: 8px;
}

#staring-moddle-left {
	font-family: "Microsoft YaHei", sans-serif;
	width: 200px;
	height: 500px;
	background: #605f77;
	border: none;
	text-align: center;
	align-items: center;
	cursor: pointer;
	font-size: 16px;
	color: #d6dcd6;
	border: 1px solid #887650;
}
			
#staring-moddle-img-left {
	margin: 10px auto;
}
			
.somesomebaicai-img-left {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 1px solid #887650;
}
			
#staring-moddle-indexName-left {
	width: 200px;
	height: 40px;
	background: #d6dcd6;
}
			
.staring-moddle-indexName-left-page-btn {
	font-family: "Microsoft YaHei", sans-serif;
	width: 200px;
	height: 40px;
	background: #d6dcd6;
	border: none;
	text-align: left;
	align-items: center;
	cursor: pointer;
	font-size: 14.5px;
	color: #605f77;
}
			
.staring-moddle-indexName-left-page-btn:hover {
	font-family: "Microsoft YaHei", sans-serif;
	width: 200px;
	height: 40px;
	background: #605f77;
	text-align: left;
	align-items: center;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	color: #d6dcd6;
	border: 2px solid #d6dcd6;
	border-left: none;
	border-right: none;
}

#staring-moddle-indexName-left-notice {
	font-family: "Microsoft YaHei", sans-serif;
	width: 200px;
}

.staring-moddle-indexName-left-notice-btn {
	font-family: "Microsoft YaHei", sans-serif;
	width: 200px;
	height: 40px; 
	background: #d6dcd6;
	border: none;
	text-align: center;
	align-items: center;
	cursor: pointer;
	font-size: 14.5px;
	color: #605f77;
}

.staring-moddle-indexName-left-notice-btns {
	border: 3px double #605f77;
	background: #d6dcd6;
	color: #605f77;
	font-size: 12.5px;
}

#staring-moddle-right {
	width: 336px;
	height: 500px;
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: #605f77;
	color: #d6dcd6;
	border: 1px solid #887650;
	margin-left: auto;
	margin-bottom: auto;
}

#staring-moddle-indexName-right-index {
	width: 336px;
	height: 50px;
	background: #d6dcd6;
}

.staring-moddle-indexName-right-index-page-btn {
	font-family: "Microsoft YaHei", sans-serif;
	width: 336px;
	height: 50px;
	background: #d6dcd6;
	border: none;
	text-align: center;
	align-items: center;
	cursor: pointer;
	font-size: 14.5px;
	color: #605f77;
}

.search {
	width: 336px;
	height: 35px;
	outline: none;
	padding: 1px 6px;
	background: #d6dcd6;
	border: none;
	font-size: 14.5px;
	color: #605f77;
}

.search::placeholder {
	color: #605f77;
}

#moddle {
	width: 336px;
	height: 318.5px;
	overflow-y: auto;
	padding: 0px;
	cursor: pointer;
	user-select: none;
	scrollbar-width: none;
	-ms-overflow-style: none;
	scroll-behavior: smooth;
	border-top: none;
	font-size: smaller;
}

#moddle::-webkit-scrollbar {
	display: none;
}

.staring-moddle-indexName-right-page-btn {
	font-family: "Microsoft YaHei", sans-serif;
	width: 336px;
	height: 310px;
	background: #d6dcd6;
	border: none;
	text-align: left;
	align-items: center;
	cursor: pointer;
	font-size: 12.5px;
	color: #605f77;
	margin-top: 18px;
}

.staring-moddle-indexName-right-page-btn:hover {
	font-family: "Microsoft YaHei", sans-serif;
	width: 336px;
	height: 310px;
	background: #605f77;
	text-align: left;
	align-items: center;
	cursor: pointer;
	font-size: 12.5px;
	font-weight: bold;
	color: #d6dcd6;
	border: 2px solid #d6dcd6;
	border-left: none;
	border-right: none;
}

#staring-moddle-indexName-footer {
	width: 336px;
	height: 50px;
	background: #d6dcd6;
	margin-top: 12.5px;
}

.staring-moddle-indexName-footer-page-btn {
	font-family: "Microsoft YaHei", sans-serif;
	width: 336px;
	height: 50px;
	background: #d6dcd6;
	border: none;
	text-align: center;
	align-items: center;
	cursor: pointer;
	font-size: 14.5px;
	color: #605f77;
}

.page_on:hover {
	color: #887650;
	font-weight: bold;
}

.page_un:hover {
	color: #887650;
	font-weight: bold;
}

.staring-line {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0px;
    height: 100%;
    background-color: #507e8800;
    background-image: repeating-linear-gradient(
	0deg, 
	rgb(0 0 0 / 0%) 0px,
	rgb(0 0 0 / 10%) 1px, 
	transparent 1px, 
	#00000000 20px), 
	repeating-linear-gradient(
	90deg, #d6dadc00 0px, 
	#d6dadc 1px, 
	#d6dadc00 1px, 
	transparent 20px);
	z-index: -2;
}
									
#staring-particles-js {
	z-index: -2;
	position: fixed; 
	top: 0;
	height: 100%;
	width: 100%;
} */


/* 主题色四 */


/* body {
	display: block;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

#staring-container {
	display: flex;
	width: 556px;
	margin: 0px auto;
	top: 0px;
	left: 0px;
	z-index: 1;
	position: relative; 
}

#staring-header {
	font-family: "Microsoft YaHei", sans-serif;
	width: 556px;
	height: 50px;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: #dddddd;
	border: 1px solid #887650;
}
			
.staring-header-page-btn {
	font-family: "Microsoft YaHei", sans-serif;
	width: 556px;
	height: 50px;
	background: #8d7b92;
	border: none;
	text-align: center;
	align-items: center;
	cursor: pointer;
	font-size: 16px;
	color: #dddddd;
}

#staring-moddle-container {
	display: flex;
	width: 556px;
	margin: 0px auto;
	top: 0px;
	left: 0px;
	margin-top: 8px;
}

#staring-moddle-left {
	font-family: "Microsoft YaHei", sans-serif;
	width: 200px;
	height: 500px;
	background: #8d7b92;
	border: none;
	text-align: center;
	align-items: center;
	cursor: pointer;
	font-size: 16px;
	color: #dddddd;
	border: 1px solid #887650;
}
			
#staring-moddle-img-left {
	margin: 10px auto;
}
			
.somesomebaicai-img-left {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 1px solid #887650;
}
			
#staring-moddle-indexName-left {
	width: 200px;
	height: 40px;
	background: #dddddd;
}
			
.staring-moddle-indexName-left-page-btn {
	font-family: "Microsoft YaHei", sans-serif;
	width: 200px;
	height: 40px;
	background: #dddddd;
	border: none;
	text-align: left;
	align-items: center;
	cursor: pointer;
	font-size: 14.5px;
	color: #8d7b92;
}
			
.staring-moddle-indexName-left-page-btn:hover {
	font-family: "Microsoft YaHei", sans-serif;
	width: 200px;
	height: 40px;
	background: #8d7b92;
	text-align: left;
	align-items: center;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	color: #dddddd;
	border: 2px solid #dddddd;
	border-left: none;
	border-right: none;
}

#staring-moddle-indexName-left-notice {
	font-family: "Microsoft YaHei", sans-serif;
	width: 200px;
}

.staring-moddle-indexName-left-notice-btn {
	font-family: "Microsoft YaHei", sans-serif;
	width: 200px;
	height: 40px; 
	background: #dddddd;
	border: none;
	text-align: center;
	align-items: center;
	cursor: pointer;
	font-size: 14.5px;
	color: #8d7b92;
}

.staring-moddle-indexName-left-notice-btns {
	border: 3px double #8d7b92;
	background: #dddddd;
	color: #8d7b92;
	font-size: 12.5px;
}

#staring-moddle-right {
	width: 336px;
	height: 500px;
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: #8d7b92;
	color: #dddddd;
	border: 1px solid #887650;
	margin-left: auto;
	margin-bottom: auto;
}

#staring-moddle-indexName-right-index {
	width: 336px;
	height: 50px;
	background: #dddddd;
}

.staring-moddle-indexName-right-index-page-btn {
	font-family: "Microsoft YaHei", sans-serif;
	width: 336px;
	height: 50px;
	background: #dddddd;
	border: none;
	text-align: center;
	align-items: center;
	cursor: pointer;
	font-size: 14.5px;
	color: #8d7b92;
}

.search {
	width: 336px;
	height: 35px;
	outline: none;
	padding: 1px 6px;
	background: #dddddd;
	border: none;
	font-size: 14.5px;
	color: #8d7b92;
}

.search::placeholder {
	color: #8d7b92;
}

#moddle {
	width: 336px;
	height: 318.5px;
	overflow-y: auto;
	padding: 0px;
	cursor: pointer;
	user-select: none;
	scrollbar-width: none;
	-ms-overflow-style: none;
	scroll-behavior: smooth;
	border-top: none;
	font-size: smaller;
}

#moddle::-webkit-scrollbar {
	display: none;
}

.staring-moddle-indexName-right-page-btn {
	font-family: "Microsoft YaHei", sans-serif;
	width: 336px;
	height: 310px;
	background: #dddddd;
	border: none;
	text-align: left;
	align-items: center;
	cursor: pointer;
	font-size: 12.5px;
	color: #8d7b92;
	margin-top: 18px;
}

.staring-moddle-indexName-right-page-btn:hover {
	font-family: "Microsoft YaHei", sans-serif;
	width: 336px;
	height: 310px;
	background: #8d7b92;
	text-align: left;
	align-items: center;
	cursor: pointer;
	font-size: 12.5px;
	font-weight: bold;
	color: #dddddd;
	border: 2px solid #dddddd;
	border-left: none;
	border-right: none;
}

#staring-moddle-indexName-footer {
	width: 336px;
	height: 50px;
	background: #dddddd;
	margin-top: 12.5px;
}

.staring-moddle-indexName-footer-page-btn {
	font-family: "Microsoft YaHei", sans-serif;
	width: 336px;
	height: 50px;
	background: #dddddd;
	border: none;
	text-align: center;
	align-items: center;
	cursor: pointer;
	font-size: 14.5px;
	color: #8d7b92;
}

.page_on:hover {
	color: #887650;
	font-weight: bold;
}

.page_un:hover {
	color: #887650;
	font-weight: bold;
}

.staring-line {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0px;
    height: 100%;
    background-color: #507e8800;
    background-image: repeating-linear-gradient(
	0deg, 
	rgb(0 0 0 / 0%) 0px,
	rgb(0 0 0 / 10%) 1px, 
	transparent 1px, 
	#00000000 20px), 
	repeating-linear-gradient(
	90deg, #d6dadc00 0px, 
	#d6dadc 1px, 
	#d6dadc00 1px, 
	transparent 20px);
	z-index: -2;
}
									
#staring-particles-js {
	z-index: -2;
	position: fixed; 
	top: 0;
	height: 100%;
	width: 100%;
}*/
